body {
    margin: 0;
    font-family: 'Raleway', Arial, sans-serif;
}

nav {
    /* Navbar styles go here */
    line-height: normal;
}

.banner {
    background: url('../images/background.png') center/cover;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.banner h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
}
.banner p{
    font-size: .7em;
    background-color: darkslategrey;
}
.actions {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

 /*Make Images inside .actiosn class round*/
.action img {
    border-radius: 50%;
    width: 240px;
    height: 240px;
}
.action {
    text-align: center;
}

/* Media Query for Small Screens */
@media screen and (max-width: 650px) {
    .actions {
        flex-direction: column;
        align-items: center;
    }

    .action {
        margin-bottom: 20px;
    }
}

.custom-section {
    background-color: darkblue;
    height: 200px;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    color: white;
    margin: 20px auto 100px;
    border-bottom: 4px solid orangered;
}

.custom-box {
    display: flex;
    align-items: center;
    
}

.rounded-image {
    border-radius: 50%;
    margin-right: 20px;
    width: 120px;
    height: 120px;
}

.text-content {
    text-align: left;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .custom-section {
        width: 100%;
    }
}

footer {
    background: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer a {
    color: orange;
    text-decoration: none;
}