 body {
     font-family: "Raleway", Arial, sans-serif;
     background-color: #f0f0f0;
     text-align: center;
     padding: 50px;
 }
.container {
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 14px;
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    color: #1E90FF;
    text-decoration: none;
}

.github-stats {
    margin-top: 20px;
    color: #333;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.buttons-container a{
   text-decoration: none;
   margin-bottom: 12px;
}

.button {
    padding: 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.darkblue {
    background-color: #1E90FF;
    color: #fff;
}

.orangered {
    background-color: #FF4500;
    color: #fff;
}
.rounded-image {
    border-radius: 50%;
    margin-right: 20px;
    width: 120px;
    height: 120px;
}